/Javolt_Gestao_Hospital/logs.txt
/Javolt_Gestao_Hospital/Recursos/configuracao.txt
/Javolt_Gestao_Hospital/Recursos/pacientes_historico.txt
/Javolt_Gestao_Hospital/logs.txt
/Javolt_Gestao_Hospital/.idea/misc.xml
/Javolt_Gestao_Hospital/.idea/IntelliLang.xml
/Javolt_Gestao_Hospital/.idea/misc.xml
